
<div align="center" style="border: ridge #a4a4bb 1px;">
<h3>Gracias por tu compra, {{nombre}} {{apellido}}.</h3>
<p>Numero de orden: {{orderId}} </p> 
<h3>Precio total: ${{price}}</h3>
<p>Sera entregada a: {{direccion}}, {{pisoDepto}}, {{ciudad}}, {{provincia}}, {{CP}} </p>
<h3>Usted recibira: {{productos}}</h3>
<img src={{0}} width="130" height="160">
<img src={{1}} width="130" height="160">
<img src={{2}} width="130" height="160">
<img src={{3}} width="130" height="160">
<img src={{4}} width="130" height="160">
<img src={{5}} width="130" height="160">
<img src={{6}} width="130" height="160">
<img src={{7}} width="130" height="160">
<img src={{8}} width="130" height="160">
<img src={{9}} width="130" height="160">
<img src={{10}} width="130" height="160">
<img src={{11}} width="130" height="160">
<img src={{12}} width="130" height="160">
<img src={{13}} width="130" height="160">
<img src={{14}} width="130" height="160">
<img src={{15}} width="130" height="160">
<img src={{16}} width="130" height="160">

</div>


