<h1>Confirmacion de compra</h1>
<p>Gracias por tu compra, {{nombre}} {{apellido}}.</p>

<p>Numero de orden: {{orderId}} </p> 
<h2>Total price: ${{price}}</h2>

<p>Sera entregada a: {{direccion}}, {{pisoDepto}} </p>
<p>{{ciudad}}, {{provincia}}, {{CP}} </p>

<h2>Usted recibira: {{productos}}</h2>
<h2>{{imagenes}}</h2>


